<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="AmazonLogin">
    <classes>
         <class name="com.atmecs.selenium.AmazonLogin"/>
    </classes>
  </test> <!-- Test -->
   <test name="DemoBlaze">
    <classes>
         <class name="com.atmecs.selenium.DemoBlaze"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
